@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.bg-color {
    background-color: #365899;
}

.border-color-blue {
    border-color: #365899;
}

.fnt-color {
    color: #365899;
}